<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="splash-container hero-background">
      <div class="splash blur">
        <h1 class="splash-head"> {{ site.title }} </h1>
        <p class="splash-subhead">
          <b>Awesome communities deserve awesome wikis<b>
        </p>
        <p>
          <a href="#" class="pure-button pure-button-primary">Get Started</a>
        </p>
      </div>
    </div>

    <div class="content-wrapper content-card">
        <div class="content">
            <h2 class="content-head is-center">DISCOVER</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Share what you're doing
                    </h3>
                    <p>
                        You and your team can have a humble space to spread your knowledge (clic above).
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-flask"></i>
                        For Labs
                    </h3>
                    <p>
                        Brief description of what information a Lab page should contain. A guide for new users.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-users"></i>
                        For Groups
                    </h3>
                    <p>
                        Brief description of what information a Group page should contain. A guide for new users.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-flash"></i>
                        For Projects
                    </h3>
                    <p>
                        Brief description of what information a Project page should contain. A guide for new users.
                    </p>
                </div>
            </div>
        </div>

        <div class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
              <img class="pure-img-responsive" alt="DIYbio Revolution"
                width="150" height="75"
                src="{{site.data.img.diybio-revolution}}">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon">What is this?</h2>

                <p> {{ site.description }} </p>
            </div>
        </div>

        <div class="content">
          <h2 class="content-head is-center">Let us know what you think.</h2>

          <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">

              <form action="https://formspree.io/jdaniel.saed@gmail.com" method="POST"
                    class="pure-form pure-form-stacked">
                <fieldset>
                  <label for="name">Name</label>
                  <input name="name" type="text" placeholder="Your Name">

                  <label for="email">Email</label>
                  <input name="_replyto" type="email" placeholder="Your Email">

                  <label for="email">Message</label>
                  <textarea name="message" type="text" cols="37" rows="5" maxlength="300">
                  </textarea>

                  <input type="hidden" name="_subject" value="DIYbiosphere Message" />
                  <input type="text" name="_gotcha" style="display:none" />
                  <button type="submit" class="pure-button">Send</button>
                </fieldset>
              </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
              <h4>Contact Us</h4>
              <p>
                  We really love to hear from you and your projects. If you want
                  to share something, ask for something, or simply to say hello,
                  feel free to send us an email or commenting directly in
                  <a href="https://github.com/DIYbiosphere/diybiosphere.github.io">
                    DIYbiosphere.github.io
                  </a>
              </p>

              <h4>More Information</h4>
              <p>
                  You can find out more about this project by sending us a message
                  or visiting <a href="https://github.com/DIYbiosphere/diybiosphere.github.io">
                  DIYbiosphere.github.io</a>
              </p>
            </div>
          </div>

        </div>

        {% include footer.html %}

    </div>

  </body>

</html>
